
body {
    background-color: #d5d5d5;
    padding-top: 40px;
}
.formEnter {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 322px;
    padding: 19px 29px 29px;
}
.formEnter_inputLogin, .formEnter_inputPassword {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.formEnter_languageLabel{
    background-color:blue;
    color:white;
    padding: 1px;
    cursor: default;
}
.glyphicon-warning-sign{
    cursor: help;
}
.container_main__hide{
    opacity: 0.2;
}
.popup_load__unvisible{
    display: none; 
}
.popup_load__visible{
    display: block;
    left:35%;
    top: 25%;
    position:fixed;
}
.popup_error{
    position:absolute;
    left:29%;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}
.popup_error__unvisible{
    display: none;
}
.FIO{
    cursor: default;
    background-color: inherit !important;   
}
.tab_link__clickable{
    cursor: pointer;
}
.tableP1{
    border: 1px solid;
    font: 0.6em Verdana,Arial,Helvetica,sans-serif;
    padding: 1%;
    width: 100%;
}
