<!DOCTYPE html>
<html>
    <head lang="ru">
        <title>Региональная статистика</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <base href="/">
    </head>
    <body ng-app="ngAppRegStat" ng-strict-di> <!-- не забыть убрать-->
        <div ng-controller="main_controller">
            <div class="container">                
                <div class="bs-component">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button data-target=".navbar-inverse-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a ng-click="tabs.getPage('feed')" class="navbar-brand tab_link__clickable">Региональная статистика</a>
                        </div>
                        <div class="navbar-collapse collapse navbar-inverse-collapse">
                            <ul class="nav navbar-nav">
                                <li class = "tab_link__clickable" ng-class="tab.class" ng-repeat="tab in tabs.tabsArray">
                                    <a ng-click="tabs.getPage(tab.page)">{{tab.title}}</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" ng-if="rightMenu.FIO">
                                <li><a class="FIO" href="/">{{rightMenu.FIO}}</a></li>
                                <li><a class = "tab_link__clickable" ng-click="rightMenu.logout()">Выход</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="popup_error__unvisible alert alert-danger">
                    {{error.errorText}}
                </div>
                <div class="mainWindow" ng-switch="mainWindow.switch">
                    <form class="formEnter" ng-controller="formEnter_controller" ng-switch-when="formEnter">
                        <input type="text" placeholder="Имя" class="input-block-level formEnter_inputLogin" required ng-model="formEnter.login" ng-change="formEnter.checkLogin()">
                        <span class="formEnter_languageLabel" ng-if="formEnter.russianLogin">Ru</span>
                        <span class="glyphicon glyphicon-warning-sign" title="Недопустимые символы" ng-if="formEnter.nonLetterLogin"></span>
                        <input type="password" placeholder="Пароль" class="input-block-level formEnter_inputPassword" required ng-model="formEnter.password" ng-change="formEnter.checkPassword()">
                        <span class="formEnter_languageLabel" ng-if="formEnter.russianPassword">Ru</span>
                        <span class="glyphicon glyphicon-warning-sign" title="Недопустимые символы" ng-if="formEnter.nonLetterPassword"></span>
                        <button type="submit" class="btn btn-large btn-primary" ng-click="formEnter.sendLogin()">Войти</button>
                    </form>
                    
                    <div class="feed" ng-controller="feed_controller" ng-switch-when="feed">

                    </div>
                    
                    <div class="tableP1" ng-switch-when="formP1">
                            <p class="tableP1_title">РЕГИОНАЛЬНОЕ НАБЛЮДЕНИЕ</p>

                            <p class="tableP1_title"> СВЕДЕНИЯ О ПРОИЗВОДСТВЕ И ОТГРУЗКЕ ТОВАРОВ И УСЛУГ
                                В ФИКСИРОВАННЫХ (СОПОСТАВИМЫХ) ЦЕНАХ ЗА</p>  
                            <select id="P1Mon">
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select> 
                            <select id="P1Year">

                            </select> 
                            <span class="bold">годa </span>
                            <br><br>
                            <table>
                                <tr>
                                    <td>Предоставляют:</td>
                                    <td>Сроки предоставления</td>
                                    <td class="simple"><div class="tdgrey bold">Приложение к форме № П-1</div></td>
                                </tr>
                                <tr>
                                    <td>юридические лица, отнесенные по основному виду деятельности,
                                        в соответсвии с ОКВЭД к обрабатывающим производствам, производству 
                                        и распределению электроэнергии, газа и воды: <br>
                                        - Территориальному органу Федеральной службы государственной статистики
                                        по Республике Мордовия по установленному им адресу</td>
                                    <td>не позднее 4 числа после отчетного периода</td>
                                    <td class="simple"> <div>Утверждена распоряжением Правительства 
                                            Республики Мордовия от 19 января 2009 г. №11-р</div>
                                        <br>
                                        <div class="tdgrey bold">Месячная</div>
                                    </td>
                                </tr>


                            </table>

                            <br>
                            <table>
                                <tr>
                                    <td class="tdsmall"> Код отчитывающейся организации по ОКПО 
                                    </td>
                                    <td class="tdsmall"> Код основного вида деятельности по ОКВЭД
                                    </td>
                                    <td class="tdleft bold"> Наименование отчитывающейся организации    
                                        <span id="P1NameOrg"></span></td>
                                </tr>    
                                <tr>
                                    <td id="td_okpo"><input class="P1input" type="text" id="P1okpo"></td>
                                    <td id="P1ocved"></td>
                                    <td class="tdleft bold">Почтовый адрес <span id="P1address"></span></td>
                                </tr>    

                            </table>
                            <button id="show_report" class="not_exist">Показать</button>        
                            <br>
                            <br>
                            <div class="textright">(тыс. рублей)</div>             
                            <table>
                                <tr>
                                    <td>Наименование показателя</td>
                                    <td>№ строки</td>
                                    <td class="tdwidth15">За отчетный месяц</td>
                                    <td class="tdwidth15">За период с начала отчетного года</td>
                                    <td class="tdwidth15">За соответствующий месяц прошлого года</td>
                                    <td class="tdwidth15">За соответствующий период с начала прошлого года</td>
                                </tr> 
                                <tr>
                                    <td>А</td>
                                    <td>Б</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Выпуск товаров и услуг 
                                        (без внутреннего оборота, НДС и акциза)</td>
                                    <td>100</td>
                                    <td><input type="text" id="P1Mon100" class="P1input"></td>
                                    <td><input type="text" id="P1YearBeg100" class="P1input"></td>
                                    <td><input type="text" id="P1MonLastYear100" class="P1input"></td>
                                    <td><input type="text" id="P1YearBegLast100" class="P1input"></td>                    
                                </tr>
                                <tr>
                                    <td>Отгружено товаров собственного производства,
                                        выполнено работ и услуг собственными силами (без НДС и акциза)
                                    </td>
                                    <td>110</td>
                                    <td><input type = "text" id="P1Mon110" class="P1input">
                                    <td><input type = "text" id="P1YearBeg110" class="P1input"></td>
                                    <td><input type = "text" id="P1MonLastYear110" class="P1input"></td>
                                    <td><input type = "text" id="P1YearBegLast110" class="P1input"></td>                    
                                </tr>
                            </table>
                            <p > </p>  
                            <table class="simple">
                                <tr><td class="textleft bold textwidth">должностное лицо, ответственное за 
                                        предоставление статистической информации (лицо, уполномоченное предоставлять
                                        статистическую информацию от имени юридического лица)</td>
                                    <td class="textleft bold textwidth">
                                        <div id="P1position">бухгалтер</div></td>
                                    <td class="textright bold textwidth">
                                        <div id="P1fio"></div></td>
                                </tr>
                                <!-- <tr>
                                     <td class="textwidth"></td>
                                     <td class="textleft bold textwidth">дата составления документа</td>
                                     <td class="textright bold textwidth"><div id="P1datedoc"> 19.06.2014 </div></td>
                                 </tr>    -->
                            </table>
                        <div id="P1Buttons">
                            <button id="P1Send">Отправить</button>
                        </div>  

                    </div>
                </div>
            </div>
            <div class="popup_load__unvisible" ><img src="img/load.gif"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/md5.js"></script>
        <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="node_modules/angular/angular.js"></script><!-- заменить на min-->
        <script type="text/javascript" src="node_modules/angular/angular-animate.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-cookies.min.js"></script>
        <script type="text/javascript" src="js/Tea.js"></script>
        <script type="text/javascript" src="js/modules.js"></script>
        <script type="text/javascript" src="js/configs.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
    </body>
</html>
